* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: white;
    background-color: var(--jasnyszary);
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
}

.logo {
    width: 10vh;
    height: 10vh;
    padding-top: 10px;
}


:root {
    --jasnyszary: rgb(34, 153, 211);
    --ciemnyszary: rgb(36, 104, 151);
    --bialy: white;
}

/* RESPONSYWNE MENU RESPONSYWNE MENU RESPONSYWNE MENU RESPONSYWNE MENU RESPONSYWNE MENU */

nav {
    background-color: var(--jasnyszary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: relative;
    padding-right: 1.8em;
}

.start ul {
    list-style-type: none;
    display: flex;
    width: 55%;
    justify-content: space-around;
}

.start a {
    text-decoration: none;
    font-weight: bold;
    padding: .2em;
    color: var(--bialy);
}

.start a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    padding: .2em;
    color: var(--bialy);
}

.start a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background-color: var(--bialy);
    height: .15em;
    border-radius: 10px;
    transition: .3s ease-in-out;
}

.start a:hover::after {
    width: 100%;
}

/* BURGER  BURGER BURGER BURGER BURGER BURGER BURGER BURGER BURGER BURGER BURGER*/

.burger {
    background-color: var(--jasnyszary);
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

.line {
    width: 3em;
    height: .3em;
    background: var(--bialy);
    margin: .6em;
    border-radius: 20px;
    transition: .3 ease-in-out;
}


/* responsywność dla wąskich urządzeń */

@media only screen and (max-width: 1000px) {
    .burger {
        display: block;
        transition: .3s ease-in-out;
    }

    .burger.active .line {
        width: 4.5em;
        height: .4em;
        background: var(--bialy);
        margin: .6em;
        border-radius: 20px;
        transition: .3 ease-in-out;
    }

    .burger.active .line:first-child {
        display: none;
    }

    .burger.active .line:nth-child(2) {
        transform: rotate(-45deg) translateY(9px);
    }

    .burger.active .line:nth-child(3) {
        transform: rotate(+45deg) translateY(-9px);
    }

    .burger.active .line:nth-child(4) {
        display: none;
    }


    .start>ul {
        position: absolute;
        right: 0;
        top: 10vh;
        background-color: var(--ciemnyszary);
        height: 92vh;
        flex-direction: column;
        text-align: center;
        transform: translate(100%);
        transition: .3s ease-in-out;
    }

    .start ul.active {
        transform: translate(0%);
    }

    .start a {
        color: var(--bialy);
        font-size: 2.5rem;
        letter-spacing: 2px;
    }

    .teksthistoria {
        font-size: 1.8vw;
    }
}

@media only screen and (max-width: 760px) {
    ul {
        width: 100%;
    }

    .opistekst {
        font-size: 10px;
    }

}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* Main Main Main Main Main Main Main Main Main Main Main Main Main Main Main */

.tlo-image {
    background-image: url(img/theme3.png);
    padding-bottom: 20vw;
    border-bottom: 2vh solid var(--ciemnyszary);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.tlo-text {
    font-size: 3vw;
    padding-top: 5vw;
    text-align: center;
    color: var(--bialy);
}

.budyneknagl {
    width: 60%;
    background-color: var(--ciemnyszary);
    text-align: center;
    height: 7vw;
    border-radius: 0px 0px 20px 20px;
    margin: 0 auto;
    font-size: 3vw;
}

/* Zdjęcia */
.row {
    display: flex;
    padding: 0 4px;
}

.column {
    flex: 33.3%;
    max-width: 33.3%;
    padding: 08px;
}

.column img {
    margin-top: 15px;
    vertical-align: middle;
    width: 100%;
    border-radius: 0px;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

footer {
    background-color: var(--ciemnyszary);
    height: 150px;
    padding-left: 5px;
    color: var(--bialy);
    display: block;
    padding-top: 10px;
}

.strzalkadiv {
    display: flex;
    justify-content: space-around;
}

.strzalka {
    width: 40px;
    height: 40px;
}